/*nav*/
body{
    background-color: #0c0a2f;
}
.menu{
    padding-top: 1rem;
}
a{
    color: white;
    text-decoration: none;
}

li{
    display: inline;
    font-family: 'karla';
    display: inline;
    font-size: 1rem;
    padding-right: 3rem;
    float: right;
    text-transform: lowercase;
}
a:hover{color: #e4ffa7;}

h2{
    font-family: 'karla';
    color: white;
}
